*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.idea/sonarlint/issuestore/0/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/a/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/f/8/
app/libs/
app/src/androidTest/
app/src/main/java/fogelao/com/github/coinmarket/ui/ticker/
app/src/test/
/.idea/sonarlint/
